html {/*Sets the page background color*/
    background-color:rgb(55, 139, 248);

}
#siteH1{
    display: flex;
    text-align: center;
   justify-content: center;
   color:aquamarine;
   background-color: darkblue;
   height: 100px;
   padding-top: 50px;
}
form{
    display: inline;
    
}
#locCheck{
    background-color: darkgreen;
    color:chartreuse;
    font-size: larger;
    border: 3px;
}
#confirmBtn{
    margin-top: -10px;
    display: inline;
    background-color: aquamarine;
    border-radius: 5px;
}
#confirmBtn:hover{
    background-color: gold;
}
