
#siteH1{ /*sites heading*/
    display: flex;
    text-align: center;
   justify-content: center;
   color:aquamarine;
   background-color: darkblue;
   height: 100px;
   padding-top: 50px;
}
form{/*positions search bar*/
    display: inline;
}
#myForm{/* sets the margin for the form*/
    margin-left: 5px;
}
#locCheck{/*positions and designs the current location section*/
    background-color: darkgreen;
    color:white;
    font-size: larger;
    text-align: center;
    font-size: larger;
    padding-top: 6px;
    height: 50px;
    border: 3px;
}
.formBtn{/*Designs the search button*/
    margin-top: -10px;
    display: inline;
    background-color: aquamarine;
    border-radius: 5px;
}
.formBtn:hover{/*Designs the search button*/
    background-color: gold;
}
.styled{/*Styles created buttons*/
    margin-top: -10px;
    display: inline;
    background-color:burlywood;
    border-radius: 5px;
}
.styled:hover{/*Styles created buttons*/
    background-color:gold;
}

.container{/*styles the weather panels*/
    background-color: darkslategrey;
    color:white;

}
#bigWeather { /*styles border of weather panels*/
    border:solid;
    border-color: black;
    text-align: center;
}
#bigDate{ /*Styles the current weather infos date*/
    text-align: center;
}
li{ /*removes lists bullet points*/
    list-style: none;
}
